.habitCard{
    height:190px;
    width:320px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 5px 15px;
}
.buttonContainer{
    display: flex;
    flex-direction: column;
}