.home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addPostContainer{
    display: flex;
    flex-direction: column;
}
.habitDisplaySection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}